
@media (max-width: 768px){
    .slick-slide{
        width: 185px !important;
        @apply
        mx-2
    }
}
@media (min-width: 769px){
    .slick-slide{
        width: 260px !important;
        @apply
        mx-2
        
    }
}

.Vcard-product{
    @apply
    my-12
    bg-def_white
    shadow rounded-lg

    h-[325px] w-[185px]
    sm:h-[325px] sm:w-[185px]
    md:h-[490px] md:w-[260px]
    lg:h-[490px] lg:w-[260px]

}

.card-cover{
    @apply
    h-[150px] w-[185px]
    sm:h-[150px] sm:w-[185px]
    md:h-[320px] md:w-[260px]
    lg:h-[320px] lg:w-[260px]

    overflow-hidden
}

.Vcard-link:hover img {
    @apply
    transform scale-105 cursor-pointer
}

.card-cover img{
    @apply
    object-cover w-full h-full rounded-t-lg
}
.Vcard-body{
    @apply
    py-6 px-4 font-Lato
}

.Vprice-spec{
    @apply
    align-middle my-1.5
    text-txt_size_sm text-def_black/80
}

.Vcard-body span {
    @apply
    block
    py-1
}

.card-product-price-container{
    @apply
    flex
}
