*{
    @apply
    font-Lato
    transition-all
}

.hideShow{
    @apply
    invisible opacity-0 transition-transform ease-in-out
}

.sidebar-header{
    @apply
    z-10
    flex fixed
    bg-def_white shadow-lg
    transition-all ease-linear 
    h-[170px] w-[320px]
    lg:hidden xl:hidden
}

.sidebar-logo img{
    @apply
    w-[132px] mx-8 my-8
}

.toggle-menu{
    @apply
    xl:hidden lg:hidden
    opacity-100 sm:opacity-100
}

.toggleSidebar{
    @apply
    ml-6 block h-auto w-auto
}

.header-toggle{
    @apply
    xl:hidden lg:hidden py-8
}

.header-resp-logo{
    @apply
    block lg:hidden xl:hidden
    w-[100%] h-auto pt-2
}

.header-resp-logo img{
    @apply
    w-40  text-center mr-auto ml-auto
}

.header-resp{
    @apply
    hidden sm:hidden md:hidden lg:block xl:block
}

.header-acess{
    @apply
    bg-def_green/60 hover:bg-def_green
    w-[100%] h-[35px]
}

.acess-props{
    @apply
    mr-12 py-1
    justify-center flex
}

.acess-props li{
    @apply
    inline-flex
    hover:text-def_white/80
    text-def_white text-center text-txt_size_sm
}

.acess-props li span{
    @apply
    mx-4 cursor-pointer
}

.header-items-container{
    @apply
    mb-6 w-[100%] py-4
    bg-def_white
    dark:bg-def_black
}

.help-icons{
    @apply
    flex mt-8
}

.help-icons li a{
    @apply
    flex px-3 font-light font-Lato
    hover:opacity-80 transition-all
    text-def_black/80 hover:text-def_black
}

.help-icons li img{
    @apply
    w-[23px] h-[23px] mx-2
}

.header-items-group{
    @apply
    flex xl:py-6 lg:py-6
    justify-evenly
}

.header-logo img{
    @apply
    w-40
}

.search-bar{
    @apply
    relative inline-block
}

.search-input{
    @apply
    bg-def_grey/60
    outline-none rounded-lg
    mt-6 lg:mt-8 xl:mt-8 
    w-[330px] h-[45px] p-3 text-txt_size_nr
    focus:outline-none focus:shadow-sm
    sm:w-[460px] md:w-[550px] lg:w-[420px]
}

.input-search-btn{
    @apply
    top-6 lg:top-8 xl:top-8 right-0  h-[45px]
    outline-none px-4 absolute 
}

.nav-items-group{
    @apply
    py-3
}

.nav-items{
    @apply
    justify-center text-center flex
}

.nav-item{
    @apply
    mx-2
    inline-block text-txt_size_md my-4
    font-Lato
}

.nav-item-btn{
    @apply
    px-6 py-3 cursor-pointer transition-all
    font-light rounded-full
    hover:bg-def_orange/20
    text-def_black hover:text-def_black/70 
}

.toggle-acess{
    @apply
    block lg:hidden xl:hidden
    fixed right-0 top-[360px] mr-2
}

.toggle-main{
    @apply
    shadow-xl
    cursor-pointer
    bg-def_orange rounded-full
}

.toggle-btn{
    @apply
    p-[0.5rem]
    h-[48px] w-[48px]
}

.toggle-opts{
    @apply
    hover:bg-def_orange/90 shadow-lg
    bg-def_orange/60 rounded-full mt-2
}

.toggle-opt-btn{
    @apply
    mx-[0.75rem]
    h-[48px] w-[12px]
}
