

.form-cadastro-cliente{
    @apply
    /* w-[70vw] */
    dark:bg-def_dark_blue dark:border-2 dark:border-white
    bg-def_white shadow-def_lg_shadow
    rounded-xl m-8
    p-8 h-auto
}

.form-rows{
    @apply
    my-2
}

.row-grid{
    @apply
    grid grid-flow-col
    grid-rows-4 sm:grid-rows-4
    lg:grid-rows-1 gap-2 my-4
}

.txt-form{
    @apply
    h-[45px] my-8
    dark:placeholder:text-def_white
}
.MuiOutlinedInput-notchedOutline .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    color: #fff !important;
    border-color: #fff !important;
}
.row-grid-1{
    @apply
    grid grid-flow-col
    grid-rows-1 gap-2
}
