*{
    @apply
    font-Lato
    transition-all
}

.hideShow{
    @apply
    invisible opacity-0 transition-transform ease-in-out
}

.sidebar-header{
    @apply
    z-10
    flex fixed
    transition-all ease-linear 
    h-[170px] w-[320px]
    lg:hidden xl:hidden
    dark:bg-black
    bg-def_white shadow-lg
    dark:border-2 dark:border-white
    dark:text-white
    text-def_dark_blue
}

.sidebar-logo img{
    @apply
    w-[132px] mx-8 my-8
}

.toggle-menu{
    @apply
    xl:hidden lg:hidden
    opacity-100 sm:opacity-100
}

.toggleSidebar{
    @apply
    ml-6 block h-auto w-auto
}

.header-toggle{
    @apply
    xl:hidden lg:hidden py-8
    text-def_dark_blue
    dark:text-white
}

.header-resp-logo{
    @apply
    block lg:hidden xl:hidden
    w-[100%] h-auto pt-2
}

.header-resp-logo img{
    @apply
    w-40  text-center mr-auto ml-auto
}

.header-resp{
    @apply
    hidden sm:hidden md:hidden lg:block xl:block
}

.header-acess{
    @apply
    bg-def_green/60 hover:bg-def_green
    dark:bg-def_cont_yellow
    dark:border-b-2 dark:border-def_white
    w-[100%] h-[35px]
}

.acess-props{
    @apply
    mr-12 py-1
    justify-center flex
}

.acess-props li{
    @apply
    inline-flex
    text-center text-txt_size_sm
    text-def_white hover:text-def_white/80
    dark:text-def_black dark:hover:text-def_black
}

.acess-props li span{
    @apply
    mx-4 cursor-pointer
}

.header-items-container{
    @apply
    mb-6 w-[100%] py-2 sm:py-2 md:py-0 lg:py-0
    bg-def_white
    dark:bg-black
    dark:border-[1px] dark:border-def_white
}

.help-icons{
    @apply
    flex mt-8
}

.help-icons li a{
    @apply
    flex px-3 font-light font-Lato
    transition-all
    dark:text-white dark:hover:text-white
    text-def_black/80 hover:text-def_black
}

.help-icons li img{
    @apply
    w-[23px] h-[23px] mx-2
}

.header-items-group{
    @apply
    flex xl:py-6 lg:py-6
    justify-evenly
}

.header-logo img{
    @apply
    w-40
}

.search-bar{
    @apply
    relative inline-block
}

.search-input{
    @apply
    dark:bg-white
    bg-def_grey/60
    outline-none rounded-lg
    mt-6 lg:mt-8 xl:mt-8 
    w-[330px] h-[45px] p-3 text-txt_size_nr
    focus:outline-none focus:shadow-sm
    sm:w-[460px] md:w-[550px] lg:w-[450px]
}

.input-search-btn{
    @apply
    top-6 lg:top-8 xl:top-8 right-0  h-[45px]
    outline-none px-4 absolute 
}

.nav-items-group{
    @apply
    py-0
}

.nav-items{
    @apply
    justify-center text-center flex
    dark:border-y-2 dark:border-def_white
}

.header-nav-item{
    @apply
    mx-2
    inline-block text-txt_size_md my-4 py-2 px-1
    font-Lato
    hover:rounded-full
    hover:bg-def_green/60
    dark:hover:bg-def_cont_yellow
    dark:hover:text-black
}

.nav-item-btn{
    @apply
    px-3 py-3 cursor-pointer transition-all
    font-light
    text-def_black
    dark:text-def_white
    dark:hover:text-def_black
}

.toggle-acess{
    @apply
    z-10
    block lg:hidden xl:hidden
    fixed right-0 top-[320px] mr-2
}

.toggle-main{
    @apply
    shadow-xl
    cursor-pointer
    text-white
    bg-def_orange rounded-full
    dark:bg-def_cont_yellow
    dark:text-black
}

.toggle-btn{
    @apply
    p-[0.5rem]
    h-[48px] w-[48px]
}

.toggle-opts{
    @apply
    text-white dark:text-black
    dark:bg-def_cont_yellow dark:hover:bg-def_cont_yellow
    hover:bg-def_orange shadow-lg
    bg-def_orange/60 rounded-full mt-2
}

.toggle-opt-btn{
    @apply
    mx-[0.75rem]
    h-[48px] w-[12px]
}
