.sidebar-container{
    @apply
    z-10 font-Lato
    h-[100%] w-[320px] top-[160px]
    bg-def_white shadow-lg
    dark:bg-black
    dark:border-2 dark:border-white
    transition-all 
    fixed
}

.sidebar-body{
    @apply
    px-3 pt-6
}

.sidebar-navegacao{
    @apply
    px-2 mt-3
}

.sidebar-categorias{
    @apply
    px-3 mt-6
}

.sidebar-sec-title{
    @apply
    px-2
    text-def_green text-txt_size_nr font-semibold
    dark:text-white
}

.sidebar-navegacao ul{
    @apply
    pt-2 mb-8 
}

.sidebar-navegacao ul li{
    @apply
    py-3 px-2
    mt-2
    rounded-md
    transition-all
    cursor-pointer
    hover:bg-def_grey/20
    dark:hover:bg-def_dark_blue/10
}

.sidebar-navegacao ul li a{
    @apply
    text-def_black/80 text-txt_size_nr font-normal
    dark:text-white
    dark:font-light
}

.sidenav-items li{
    @apply
    block m-0
    text-def_black/80 text-txt_size_nr font-normal
}
