.sidenav-container{
    @apply
    flex
    h-screen
    items-center
}

.sidenav{
    @apply 
    z-10 fixed
    h-[95vh]
    transform transition-all duration-300
    bg-def_vanilla
    dark:bg-def_dark_blue/10
    dark:border-2 dark:border-white
    rounded-[50px]
    shadow-def_lg_shadow
    ml-6
}

.sidenav-open{
    @apply
    overflow-x-auto
    w-[290px]
}

.sidenav-open::-webkit-scrollbar{
    @apply
    absolute
    rounded-full
    my-16
    w-[10px]
}

.sidenav-open::-webkit-scrollbar-track{
    @apply
    bg-def_black/30
    rounded-full    
    my-16
}

.sidenav-open::-webkit-scrollbar-thumb{
    @apply
    bg-slate-200
    rounded-full    
}


.sidenav-collapsed .sidenav{
    @apply
    md:h-[95vh] lg:h-[95vh]
    h-[10vh] sm:h-[10vh]
}

.sidenav-collapsed{
    @apply
    w-[90px]
    overflow-hidden
}

.sidenav-collapsed .nav-list{
    @apply
    hidden sm:hidden md:block lg:block
    mt-16
}

.sidenav-collapsed .pfp-container{
    @apply
    hidden sm:hidden md:block lg:block
}

.sidenav-collapsed .nav-item{
    @apply
    px-[17.8px] py-2 my-4
    flex text-center align-middle
}

.sidenav-collapsed .nav-item span,
.sidenav-collapsed .nav-item .bi-caret-down-fill {
    @apply hidden opacity-0
}

.sidenav-collapsed .nav-item.open .nav-subitem{
    @apply hidden
}

.sidenav-collapsed .navlist-icon{
    @apply pl-1
}

.sidenav-collapsed .sidenav-title{
    @apply hidden
}

.sidenav-collapsed .nav-item.open{
    @apply bg-transparent text-def_dark_blue dark:text-white
}

.nav-list{
    @apply
    mb-8 mx-3
}

.toggle-collapse {
    @apply
    cursor-pointer
    rounded-full
    h-[50px] w-[50px]
    bg-transparent
    px-3.5 mb-3 text-2xl
    hover:text-def_dark_blue/80
    text-def_dark_blue
    dark:text-white dark:hover:text-white
    outline-none
    active:outline-none
}

.sidenav-header {
    @apply
    pt-5 pb-3
    content-center
    text-center
}

.pfp-container{
    @apply
    flex items-center
    mr-auto ml-auto
    rounded-full
    dark:border-2 dark:border-white
}

.pfp-container img{
    @apply
    rounded-full
    relative
    border-[1px]
}

.user-info {
    @apply
    font-semibold text-def_dark_blue
    dark:text-white
    text-center py-5
}

.user-role{
    @apply
    font-normal text-def_dark_blue/80 dark:text-white
    text-txt_size_xsm
    py-1
}

.sidenav-title{
    @apply
    mt-12 ml-3
    font-semibold
    text-txt_size_nr
    text-def_dark_blue dark:text-white
}

.nav-subitem{
    @apply h-0 overflow-hidden
}

.nav-item.open{
    @apply
    bg-def_dark_blue
    text-def_white
    dark:bg-black
    dark:border-[1px] dark:border-white
}

.nav-item.open .nav-subitem {
    @apply
    ml-6 mt-2 px-2 py-2.5 w-[93%]
    font-light
    dark:text-def_cont_yellow
    hover:bg-def_black
    rounded-tl-xl rounded-bl-xl
    h-auto
    dark:border-b-[1px] dark:rounded-none dark:border-white
}

.nav-item {
    @apply
    block
    text-txt_size_nr
    cursor-pointer
    p-2.5 mx-0 my-3
    rounded-xl
    text-def_dark_blue font-light
    hover:bg-def_dark_blue
    dark:text-white
    hover:text-def_vanilla
    hover:font-normal
}

.nav-item .bi-caret-down-fill{
    @apply
    text-sm inline-block float-right py-1
}

.nav-item i{
    @apply pr-3 text-xl text-center
}

.hide-item{
    @apply invisible opacity-0 hidden
}