.sidenav-container{
    @apply
    flex h-screen
    items-center
}

.sidenav{
    @apply
    h-[930px]
    ml-3
    bg-def_dark_blue
    duration-500
    relative
    rounded-[50px]
}

.toggle-collapse {
    @apply
    absolute cursor-pointer
    rounded-full
    h-[60px] w-[60px]
    -right-8 top-28
    bg-def_dark_blue
    px-5 text-2xl
    text-def_white
}

.sidenav-header{
    @apply
    pt-7 pb-3
}

.pfp-container{
    @apply
    flex items-center
    mr-auto ml-auto
}

.pfp-container img{
    @apply
    rounded-full
    relative
    border-[1px] border-def_black/60
}

.user-info {
    @apply
    font-semibold text-def_white
    text-center py-5
    transition-all
    duration-200
}

.user-role{
    @apply
    font-normal text-def_white/60
    text-txt_size_xsm
    py-1
}

.sidenav-body{
    @apply
    mx-6
}

.sidenav-title{
    @apply
    mt-12
    font-semibold
    text-txt_size_nr
    text-def_white
}

.nav-list{
    @apply
    mb-8
}

.nav-item {
    @apply
    block
    text-txt_size_nr
    cursor-pointer
    text-def_white font-light
    p-2.5 mx-0
    rounded-xl
    hover:bg-def_white
    hover:text-def_black/80
    hover:font-normal
    duration-100
}