@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    body{
        @apply
        dark:bg-black
    }

    .body-container{
        @apply
        mx-3
        overflow-hidden
    }
    .sec-container{
        @apply
        mt-16
    }
    .section-title{
        @apply
        font-Merriweather font-bold
        text-def_black/80
        dark:text-white
        text-txt_size_xl text-center

    }
    .overflow-x-auto::-webkit-scrollbar{
        @apply
        hidden
    }
    /* estilo padrao p/ cards produtos */
    .card-product-name{
        @apply
        font-semibold
        text-def_black/70
        dark:text-white
        text-txt_size_md
    }
    .card-old-price{
        @apply
        line-through
        text-def_black/60
        dark:text-white
    }
    .card-product-price{
        @apply
        mx-1.5
        text-def_dark_green
        dark:text-white
        font-semibold
    }
    .card-product-parce{
        @apply
        text-def_black/80
        bg-zinc-100/60
        dark:bg-def_white
        dark:text-black
        w-fit py-2 px-3
        rounded-full
    }
}